.form-container {
  width: 80%;
  height: 100vh;
  margin-top: 20px;
  padding: 40px;
  /* overflow-y: auto; */
}

.form {
  padding: 30px 40px 10px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}

.inner-form {
  width: 90%;
  padding: 30px;
  margin: 5px;
  height: auto;
  box-shadow: 0 0 10px rgba(59, 59, 59, 0.1);
  background-color: #ffffff;
}

.form-input {
  width: 60%;
}

.form-address-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}

.form-address-container input {
  margin-right: 10px;
  width: 55%;
  margin-bottom: 10px;
}

.form-address-container button {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bolder;
}

.submit-button {
  text-align: center;
  margin-top: 20px;
}

.form-submit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 55px;
}

.form-submit-buttons button {
  margin-right: 10px;
}