.form-container {
  width: 80%;
  height: 100vh;
  margin-top: 20px;
  padding: 40px;
  /* overflow-y: auto; */
}

.form {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}

.inner-form {
  width: 90%;
  padding: 30px;
  margin: 5px;
  height: auto;
  box-shadow: 0 0 10px rgba(59, 59, 59, 0.1);
  background-color: #ffffff;
}

.form-input {
  width: 50%;
}

.submit-button {
  text-align: center;
  margin-top: 20px;
}
