.ant-form-item .ant-form-item-label >label {
    display: inline-block !important;
    white-space: initial;
}

.ant-form-horizontal .ant-form-item-control {
    margin-left: 1% !important;
}

:where(.css-dev-only-do-not-override-12upa3x).ant-select.ant-select-in-form-item {
    width: fit-content !important;
}

:where(.css-dev-only-do-not-override-12upa3x).ant-select .ant-select-selection-item {
    white-space: normal !important;
}

:where(.css-dev-only-do-not-override-12upa3x).ant-form-item .ant-form-item-control-input {
    display: inline !important;
}

.form-upload {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form-upload-label {
    text-align: center !important;
}