.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.nav-button {
    margin-left: 15px;
    transition: width 0.3s;
    overflow: hidden;
    white-space: nowrap;
}